body {
    background-image: url("index/tribal.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main > header {
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

main > header > h1 {
    clear: both;
    display: inline;
    margin: 0;
    text-transform: lowercase;
    font-family: sans-serif;
    color: #3cf;
}

main > header > select#files {
    float: right;
}

main > header > select#sites {
    float: left;
}

article h2 {
    border-bottom: 1px solid #ccc;
}

article > img.octocat {
    max-width: 16em;
    height: auto;
}

article > p.update {
    font-style: italic;
}

article#assassins {
    background-image: url("index/crosshairs.png");
    background-position: right center;
    background-size: auto 200%;
}

article#camp_slideshow {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Blue_water,_Lake_Tahoe.jpg/640px-Blue_water,_Lake_Tahoe.jpg");
    background-size: 100% auto;
}

article#gjtk,
article#SDP {
    background-image: url("index/fade.png");
    background-position: center bottom;
    background-size: 100% auto;
}

main > footer {
    z-index: -1;
    clear: both;
    width: 100%;
    height: 6em;
    background-color: rgba(255,255,255,0.5);
    background-image: url("index/top.png");
    background-size: 5em;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}

main > footer > a[href="#main"] {
    display: block;
    width: 100%;
    height: 100%;
}