
@import url(https://fonts.googleapis.com/css?family=Cedarville+Cursive);
@import url(https://fonts.googleapis.com/css?family=Ruthie);
@import url(https://fonts.googleapis.com/css?family=VT323);

body {
    background-image: url("index/parchment.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

main > a,
main > a:link,
main > a:hover,
main > a:visited {
    text-decoration: none;
    color: black;
}

main > header {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1em;
    text-align: left;
}

main > header > * {
    margin: 0.5em;
}

section {
    clear: both;
    border-style: solid;
    border-width: 0 0 0.2em 0;
    border-color: black;
    height: 18em;
    padding: 1em;
}

section#cosmarium {
    background-image: url("index/pixels.png");
    background-position: center center;
    background-size: auto 100%;
    background-repeat: repeat-x;
    font-family: 'VT323', monospace;
}

section#original {
    background-image: url("index/modern.png");
    background-position: center center;
    background-size: 100% 100%;
    font-family: 'Cedarville Cursive', cursive;
}

section#adventures {
    background-image: url("index/map.png");
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Ruthie', cursive;
}

section > h2 {
    text-align: center;
    font-size: 6em;
}
