body {
  background: darkslategray url("index/noise-texture.png");
  background-attachment: fixed;
  background-repeat: repeat;
  text-align: center;
}

header, footer {
  padding: 1em;
}

main {
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) 1;
  border-width: 0.1em 0;
  border-style: solid;
  display: inline-block;
  margin: auto;
  max-width: 80%;
  padding: 0.5em;
}

main > a {
  border-radius: 0.5em;
  display: inline-block;
  margin: 0.5em;
  max-height: 10em;
  max-width: 10em;
  overflow: hidden;
  vertical-align: middle;
}

main > a > img {
  height: 100%;
  width: 100%;
}
